.cart-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  /* justify-content: space-between;
  padding: 40px;
  gap: 20px; */
}

.item-list {
  flex: 2 1 500px; /* flex-grow, flex-shrink, flex-basis */
   /* flex: 2;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 8px; */
}

/* OrderSummary component has .order-summary class */
.order-summary {
  flex: 1 1 300px;
  align-self: flex-start; /* Stick to top */
  
  top: calc(var(--header-height) + 20px);
}