


.loginContainer{
    display: flex;
    /* text-align: center; */
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    margin: 3% auto;
    height: auto;
}
.loginContainer hr{
    margin-bottom: 3%;
    width: 100%;
    margin-left: 0;
}
.loginContainer h2{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

.loginForm h6 ,p{
    margin-left: 5%;

}
.rebtn{
    text-decoration: underline;
    margin-top: 0;
    color: darkturquoise;
}

.loginForm input, .loginForm textarea{
    width: 90%;
    margin-left: 5%;
    padding: 10px;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.loginForm button{
    width: 90%;
    max-width: 200px;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

@media (max-width: 768px) {
    .loginContainer {
        width: 95%;
        margin: 5% auto;
    }
    .loginForm input, .loginForm textarea {
        width: 95%;
        padding: 12px;
        font-size: 16px;
    }
    .loginForm h6, .loginForm p {
        margin-left: 0;
        text-align: center;
    }
}