
.navbar-custom {
    background-color: rgb(245, 242, 242);
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 30;
}
.cartCount{
    font-size: 12px;
    color: #555!important;
    font-weight: bold;
}

.headerTitle {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}


.nav-links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-item {
    color: #555 !important;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: black !important;
}
/* if clickek */
.nav-item.active {
    color: black !important;
    padding-bottom: 5px;
}

.loginButton{
    background-color: aquamarine !important;
    outline: auto;
}




/* Responsive Design */
@media (max-width: 768px) {
    .search-form-container {
        margin: 15px 0;
        max-width: 100%;
    }



    .nav-links {
        gap: 0;
        flex-direction: column;
    }
}