.list-group {
    margin: 0; /* remove default ul margin that causes left offset */
    /* remove bollet */
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.priceline{
    margin: 10px 0;

}
.price {
    font-size: 16px;
    color: #888;
    background-color: antiquewhite;
    border-radius: 4px;
    display: inline-block; /* shrink to content so margin auto centers it */
    margin: 0 auto; /* center horizontally and add vertical spacing */
    padding: 0 18px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     /* align-items: center; */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 90%;
    height: auto;
    text-align: center;
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    /* max 2 words */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 50%;
}
.card-desc{
    /* max 2 lines */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0;
}



/* .price {
    font-size: 16px;
    color: #888;
    background-color: antiquewhite;
    border-radius: 4px;
    display: block;
    margin:auto;
} */

.card-btns{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
}

.card-btn {
    font-size: 15px;
    background-color: #000;
    color: white;
    border: none;
    padding: 10px ;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
    margin: 10px;
    display: inline-block;
    width: 40%;
    text-align: center;
    text-decoration: none;
}